body {
    font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #425758; /* Цвет фона */
   }

   a{
       text-decoration: none;
   }

   li{
       list-style-type: none;
   }

   h2 {
    font-size: 1.1em; /* Размер шрифта */
    color: #752641; /* Цвет текста */
    margin-bottom: 0; /* Отступ снизу */
   }

   header {
    display: flex;
    background: #8fa09b; /* Цвет фона */
    font-size: 40pt; /* Размер текста */
    font-weight: bold; /* Жирное начертание */
    color: #c5cea4; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
   }

   #head_text{
       text-align: center;
       margin: auto;
   }

   nav{
       background: black;
       color: blanchedalmond;
       margin:0;
       padding:0;
       text-align:center;
   }

   nav a{
        font-size: 20pt; 
        color: white;
   }

  nav a:hover {
        background-color: #ddd;
        color: black;
}

    nav a.active {
        background-color: #354436;
        color: white;
    }

    nav ul{
        margin: auto;
    }

    nav li{
        display: inline;
    }

    nav a{
        color: white;
        text-align: center;
        padding: 5px 5px;
        display: inline;
    }

   #container {
    width: 100%; /* Ширина макета */
    margin: 0 auto; /* Выравниваем по центру */
    background: #f0f0f0; /* Цвет фона правой колонки */ 
    clear: both;
   }

   #content {
    position: relative;
    padding: 10px; /* Поля вокруг текста */
    border-right: 1px dashed #183533; /* Линия справа */
    background: #fff; /* Цвет фона левой колонки */
   }

   #content img{
    width: 200px;
    height: 200px;
    border: solid black;
    margin-right: 20px;
    float:left;
   }

   #content p {
    margin-top: 0.3em /* Отступ сверху */    
   }

   #content li {
       padding: 10px;
       display: flex;
   }

   div.news{
       padding-left: 20%;
   }

   #logo_image{
    width: 70%;
    height: 80%;
    border: solid rgb(68, 93, 97);
    margin-top: 20px;
   }

   footer {
    background: #8fa09b; 
    color: #fff; 
    padding: 5px; 
   }